.App {
  margin: auto;
  margin-top: 10px;
}

.Grid {
}

.Row {
  display: flex;
  justify-content: center;
}

.Cell {
  width: 30px;
  height: 30px;
  font-size: 9px;
  text-align: center;
  overflow: hidden;
  color: gray;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0);
}

.dot {
  background-color: red;
}

.amanda {
  background-color: orange;
}

.collision {
  border: 1px dotted #09f;
  color: black;
  font-weight: bold;
}
