.App {
  margin: auto;
  margin-top: 10px;
}

.Grid {
}

.Row {
  display: flex;
  justify-content: center;
}

.Cell {
  width: 30px;
  height: 30px;
  font-size: 9px;
  text-align: center;
  overflow: hidden;
  color: gray;
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0);
}

[class*="actor"] {
  border: 1px solid black;
  border-color: rgba(0, 0, 0, 0);
  border-left-color: black;
  border-bottom-color: black;
}

.actor-jeremy {
  background-color: #09f;
}

.actor-jemma {
  background-color: #ff41c4;
}

.actor-sammy {
  background-color: #9dff00;
}

.actor-amanda {
  background-color: orange;
}

.collision {
  border: 1px dotted #09f;
  color: black;
  font-weight: bold;
}
