.App {
  margin: auto;
  margin-top: 10px;
}

.Grid {
}

.Row {
  display: flex;
  justify-content: center;
}

.Cell {
  width: 25px;
  height: 25px;
  border: 1px solid black;
  font-size: 0.5em;
  text-align: center;
  overflow: hidden;
  line-height: 25px;
}

.dot {
  background-color: red;
}

.bloop {
  background-color: #09f;
}
